.img-home {
  max-width: 100%;
}

body {
  background-color: rgb(37, 36, 36);
}
p {
  color: white
}
h1 {
  color: white
}
h2 {
  color: white
}
h3 {
  color: white
}
h4 {
  color: white
}
h5 {
  color: white
}
h6 {
  color: white
}
.container-1 {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.photos-box {
  border: none;
  margin: 15px;
  padding: 10px;
}
button {
  margin: 10px;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  height: 40px;
  background: white;
  color: black;
}
select {
  margin: 10px, 0, 10px, 10px;
  border-radius: 5px;
  padding: 5px 1px 5px 5px;
  height: 40px;
  background: white;
  color: black;
}