body {
  background-color: lightblue;
}
p {
  font-family: "Lucida Console", monospace
}
h1 {
  font-family: "Lucida Console", monospace
}
h2 {
  font-family: "Lucida Console", monospace
}
h3 {
  font-family: "Lucida Console", monospace
}
h4 {
  font-family: "Lucida Console", monospace
}
h5 {
  font-family: "Lucida Console", monospace
}
h6 {
  font-family: "Lucida Console", monospace
}