.img-home {
  max-width: 100%;
}

body {
  background-color: rgb(140, 214, 140);
}
p {
  font-family: 'Times New Roman', Times, serif
}
h1 {
  font-family: 'Times New Roman', Times, serif
}
h2 {
  font-family: 'Times New Roman', Times, serif
}
h3 {
  font-family: 'Times New Roman', Times, serif
}
h4 {
  font-family: 'Times New Roman', Times, serif
}
h5 {
  font-family: 'Times New Roman', Times, serif
}
h6 {
  font-family: 'Times New Roman', Times, serif
}
.container-1 {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.photos-box {
  border: none;
  margin: 15px;
  padding: 10px;
}
button {
  margin: 10px;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  height: 40px;
  background: darkgreen;
  color: white;
}
select {
  margin: 10px, 0, 10px, 10px;
  border-radius: 5px;
  padding: 5px 1px 5px 5px;
  height: 40px;
  background: darkgreen;
  color: white;
}
.clickr {
  font-size: 2em;
  /* font-weight: bold; */
}
