.img-home {
  max-width: 100%;
}
body {
  background-color: pink;
  /* background-image: url("images/catsbackground.jpg");
  background-repeat: repeat; */
}
.container-1 {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.photos-box {
  border: none;
  margin: 15px;
  padding: 10px;
}
.active {
  color: black
}
button {
  margin: 10px;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  height: 40px;
  background: white;
  color: purple;
}
select {
  margin: 10px, 0, 10px, 10px;
  border-radius: 5px;
  padding: 5px 1px 5px 5px;
  height: 40px;
  background: white;
  color: purple;
}